#inputDiv {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.song {
    display: flex; 
    flex-direction: column;
    margin: 20px;
    align-items: center;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    justify-content: center;
}

p {
    margin: 10px; 
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #039256; 
    color: #ffffff;
    text-decoration: none; 
    border-radius: 5px;
}

a:hover {
    background-color: #01613a;
}