<!DOCTYPE html>
<html>
  <head>
    <title>Playlist Generator</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  </head>
  <body>
    <h1>Playlist!</h1>
    <a href="/">Back</a> 
    <div id="outputDiv">
    {% for index, row in songs.iterrows() %}
      <div class="song">
        <p>Song Title: {{ row["track_name"] }} </p>
        <p>Artist: {{ row["track_artist"]}} </p>
      </div>
    {% endfor %}

    </div>
  </body>
</html>